:root {
  --primary-text-color: #ffffff;
  --totle-text-color: #212121;
  --accent-color: #2196f3;
  --other-text-color: #757575;
}

body {
  background: #e5e5e5;
  color: var(--totle-text-color);
  font-family: Roboto, sans-serif;
}
.page-header {
  background-color: var(--primary-text-color);
}
/* Навігація сайту. Логотип */

.logo-header:hover,
.logo-header:focus {
  color: var(--accent-color);
}
.logo-header {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--totle-text-color);
}

/* Посилання */
.site-nav .link {
  color: var(--totle-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
/* Навігація по авторизації на сайті */
.auth-nav {
  color: var(--accent-color);
}
.auth-nav.list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 19;
  letter-spacing: 0.02em;
}

.auth-nav .link:focus,
.auth-nav .link:hover {
  color: var(--accent-color);
}
.auth-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}

.auth-nav .number {
  color: var(--other-text-color);
  text-decoration: none;
}

/* Hero */
.hero {
  background: #2f303a;
}
.hero-title {
  background: #2f303a;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--primary-text-color);
  background: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 87;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
}

/* Преимущества */
.features-list .title {
  color: var(--totle-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-list {
  list-style: none;
  color: var(--totle-text-color);
}
.features-list .text {
  color: var(--other-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 14;
  /* or 171% */

  letter-spacing: 0.03em;
}

/* Чим займаємось */
.work {
  color: var(--totle-text-color);
}
.work .list {
  list-style: none;
}
.work .work-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Наша команда */

.team {
  color: var(--totle-text-color);
  background: #f5f4fa;
}

.team .team-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team .list .position {
  color: #757575;
  background: #f5f4fa;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 18;
}

.team .list .name {
  color: var(--totle-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 18;
}

/* footer */

/* Логотип */
.footer-list {
  background: #2f303a;
}
.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}

.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-list .web {
  color: var(--accent-color);
}
.footer-list .studio {
  color: var(--primary-text-color);
}

/* Адрес  в футері */
.footer-adress {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71;
  /* or 171% */

  letter-spacing: 0.03em;
}

.footer-adress .mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-adress .telephon {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* СТОРІНКА ПОРТФОЛІО */

/*  Навігація по авторизації портфоліо */
body {
  font-family: Roboto, sans-serif;
  background: #e5e5e5;
}
.page-portfolio {
  background: #ffffff;
}
/* Навігація сайту */
.logo-portfolio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-decoration: none;
}

/* Навігація свйту */
site-nav .link {
  color: var(--totle-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}
/* Навігація по авторизації портфоліо */
.portfolio-nav {
  list-style: none;
}

.portfolio-nav .mail-portfolio {
  color: var(--other-text-color);
  text-decoration: none;
}
.portfolio-nav .tel-portfolio {
  color: var(--other-text-color);
  text-decoration: none;
}
/* Main portfolio */
.content {
  background: #e5e5e5;
}

/* Main portfplio */

/* Кнопки  по сторінці портфоліо*/

.button-portfolio {
  list-style: none;
}

.button-portfolio .filter {
  background: #f5f4fa;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  border-radius: 4px;
}

.button-portfolio .all {
  color: var(--primary-text-color);
  background: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: var(--accent-color);
}

.button-portfolio .link:focus .button-portfolio .link:hover {
  color: var(--accent-color);
}

/* Секція посилань в портфоліо */
.sectoin-portfolio .link {
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}
.sectoin-portfolio .text {
  color: var(--other-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 87;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;
}

/* Footer portfolio */
.footer-portfolio {
  background: #2f303a;
}

/* <!-- Логотип в футері --> */
.logo-footer-port {
  text-decoration: none;
}

.footer-portfolio .web {
  color: var(--accent-color);
}

.footer-portfolio .studio {
  color: var(--primary-text-color);
}
/* Адреси в футері */
